<section class="content">
    <h1>Users list</h1>
    <p class="headerP">These is a total of {{users.length}} users:</p>

    <form class="userContainer" id="delete" action="/admin/users/delete" method="POST">
        <p>#</p>
        <p>Name</p>
        <p>E-mail</p>
        <p>Actions</p>
        <div class="checkbox"> 
            {{#each users}}
                <div class="checkboxLine" >
                <input type="checkbox" value="{{id}}" name="checkbox"></input>
                </div>
            {{/each}}
        </div>
        <ul class="name">
            {{#each users}}
                <li>{{first_name}} {{last_name}}</li>
            {{/each}}
        </ul>
        <ul class="email">
            {{#each users}}
                <li>{{email}}</li>
            {{/each}}
        </ul>
        <ul class="edit">
            {{#each users}}
                <li><a type="edit" href="/admin/users/{{id}}/edit">Edit</a></li>
            {{/each}} 
        </ul>

    </form>

    <div class="buttons">
        <a href="/admin/users/new">Create new user</a>
        <button type="submit" form="delete" >Delete selected</button>
    </div>

</section>